{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <hr class="mt-0 mb-4">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="file" name="myfile">
        <p></p>
        <select name="language" id="language" onfocus="highlightInput(this.id)" onblur="unhighlightInput(this.id)">
          <option value="eng">English</option>
          <option value="spa">Spanish</option>
          <option value="jpn">Japanese</option>
          <option value="ara">Arabic</option>
      </select>
        <p></p>
        <p>
          <button type="submit" class="btn btn-success">Upload</button>
        </p>
      </form>
    
      {% if translated_text %}
        <p>Translated Text: {{ translated_text }}</p>
      {% endif %}
      {% if sound_file_url %}
        <p>Sound file uploaded at: <a href="{{ sound_file_url }}">{{ sound_file_url }}</a></p>
      {% endif %}
      </div>
  </div>
</div>
{% endblock %}